@mixin transition($property) {
  -webkit-transition: $property;
  transition: $property;
}

@mixin transform($property) {
  -webkit-transform: $property;
  transform: $property;
}

@mixin filter($property) {
  -webkit-filter: $property;
  filter: $property;
}

@mixin border-radius($property) {
  -webkit-border-radius: $property;
  border-radius: $property;
}

@mixin box-shadow($property...) {
  -moz-box-shadow: $property;
  -webkit-box-shadow: $property;
  box-shadow: $property;
}

@mixin background-color($color-one, $color-two) {
  background-color: $color-two;
  background-image: -webkit-linear-gradient(to right, $color-one, $color-two);
  background-image: linear-gradient(to right, $color-one, $color-two);
}

@mixin hover-color($property) {
  color: $property;
  border: 2px solid $property;
}

// @mixin responsive ($breakpoint) {
//   @if $breakpoint == phone {
//     @media only screen and (max-width: 37.5em) {
//       @content
//     };
//   }
//   @if $breakpoint == table-port {
//     @media only screen and (max-width: 56.25em) {
//       @content
//     };
//   }
//   @if $breakpoint == table-land {
//     @media only screen and (max-width: 75em) {
//       @content
//     };
//   }
//   @if $breakpoint == big-desktop {
//     @media only screen and (min-width: 112.5em) {
//       @content
//     };
//   }
//
// }

// Different breack points
@mixin responsive($breakpoint) {
  // 600px and plus (600px / 16px = 37.5em) ==> tablet portrait
  @if $breakpoint == tablet-port {
    @media only screen and (min-width: 37.5em) {
      @content
    };
  }
  // 900px and plus (900px / 16px = 56.25em) ==> tablet landscape
  @if $breakpoint == tablet-land {
    @media only screen and (min-width: 56.25em) {
      @content
    };
  }
  // 1200px and plus (1200px / 16px = 75em) ==> desktop
  @if $breakpoint == desktop {
    @media only screen and (min-width: 75em) {
      @content
    };
  }
  // 1500px and plus (1500px / 16px = 93.75em) ==> big desktop
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 93.75em) {
      @content
    };
  }

}
