// Colors

$color-primary: #4CA1AF;
$color-secondary: #C4E0E5;

$color-white: #fff;


$color-gray-1: rgba(0, 0, 0, .2);
$color-gray-2: rgba(0, 0, 0, .4);

$color-facebook: #3b5998;
$color-github: #6e5494;
$color-twitter: #1da1f2;
$color-mail: #ea4335;
$color-telephone: #003c71;


$color-html: #e34f26;
$color-css: #00539C;
$color-javascript: #f7df1e;
$color-sass: #c6538c;
