.col2 {
  // display: block;

  @include responsive(tablet-port) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  &__elt {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc((100% - 16rem) / 2);
    padding: 6rem 4rem;

    &--center {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
