.col2 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  @include responsive(table-port) {
    display: block;
  }

  &__elt {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc((100% - 16rem) / 2);
    padding: 6rem 4rem;

    &--center {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
