.service {
  list-style: none;
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;

  &__elt {
    margin: 3rem;
    // flex-grow: 0;
    // flex-shrink: 1;
    // flex-basis: calc((100% - 18rem) / 3);
    // flex: 0 1 calc((100% - 18rem) / 3);
    width: calc((100% - 18rem) / 3);
    box-shadow: 4px 4px 4px $color-gray-1;
    @include responsive(table-port) {
      width: calc((100% - 12rem) / 2);
    }
    @include responsive(phone) {
      width: calc((100% - 6rem));
    }
  }

  &__link {
    height: 25rem;
    display: block;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    text-align: center;
    padding: 3rem;

    &:link,
    &:visited {
      text-decoration: none;
      color: $color-primary;
      font-size: 2rem;
      border: 1px solid $color-primary;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      background-color: $color-gray-light;
      color: $color-primary-ligth;
      border-color: $color-primary-ligth;
    }
  }

  &__img {
    width: 12rem;
    height: 12rem;
    // border: 1px solid $color-black;
    // margin: 2rem;
    // flex: 0 0 6.5rem;
  }

  &__desc {
    text-align: center;
  }
}
