.service {
  list-style: none;
  margin: 2rem;

  @include responsive(tablet-port) {
    display: flex;
    flex-wrap: wrap;
  }

  &__elt {
    margin: 3rem;
    @include responsive(tablet-port) {
      width: calc((100% - 12rem) / 2);
    }

    @include responsive(tablet-land) {
      width: calc((100% - 18rem) / 3);
    };

  }

  &__link {
    height: 25rem;
    display: block;
    text-align: center;
    padding: 3rem;
    transition: all 0.4s;
    box-shadow: 6px 6px 6px $color-gray-1;
    border-radius: 1rem;

    &:link,
    &:visited {
      text-decoration: none;
      color: $color-primary;
      font-size: 2rem;
      border: 1px solid $color-primary;
    }

    &:hover,
    &:active {
      background-color: $color-primary;
      color: $color-white;
      border-color: $color-primary-ligth;
    }

    &:hover {
      transform: translateY(-6px);
      box-shadow: 8px 8px 8px $color-gray-1;
    }

    &:active {
      transform: translateY(-2px);
      box-shadow: 5px 5px 5px $color-gray-1;
    }
  }

  &__img {
    width: 12rem;
    height: 12rem;
  }

  &__desc {
    text-align: center;
  }
}
