.address {
  display: flex;
  align-items: center;
  margin: 2rem 0;

  &__img {
    width: 2.8rem;
    height: 2.8rem;
    margin-right: .5rem;
    fill: $color-primary-ligth;
    @include responsive(tablet-port) {
      width: 4rem;
      height: 4rem;
      margin-right: 1rem;
    }

    &--menu {
      width: 2rem;
      height: 2rem;
      margin-right: .2rem;
      fill: $color-white-dark;
      @include responsive(tablet-port) {
        width: 3rem;
        height: 3rem;
        margin-right: .5rem;
      }
    }
  }

  &__info {
    &__label {
      font-family: 'Galindo', cursive;
      color: $color-primary-ligth;
    }

    &__value {
      font-size: 1.8rem;
      @include responsive(tablet-port) {
        font-size: 2.2rem;
      }
      a:link,
      a:visited {
        text-decoration: none;
        color: inherit;
      }
      &--menu {
        font-size: 1.2rem;
        @include responsive(tablet-port) {
          font-size: 1.6rem;
        }
        a:link,
        a:visited {
          color: $color-white-dark;
        }
        a:hover,
        a:active {
          color: $color-white;
        }
      }
    }

    &__extra {
      font-size: 1.4rem;
    }
  }

  &--menu {
    margin: 2rem 2rem 1rem 0;
  }
}
