.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: $color-gray-2;
  z-index: 30;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;

  &__content {
    position: relative;
    width: 90%;
    @include responsive(tablet-port) {
      width: 70%;
    }
    border: 1px solid $color-white;
    background-color: $color-white;
    border-radius: 1.5rem;
    box-shadow: 8px 8px 4px $color-gray-1;

    &__close {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 2rem;
      right: 2rem;
      height: 3.5rem;
      width: 3.5rem;
      font-size: 3rem;
      transition: all .3s;


      &:link,
      &:visited {
        text-decoration: none;
        color: $color-white;
        border: 2px solid $color-white;
        border-radius: 100%;
      }

      &:hover {
        color: $color-primary;
        border: 2px solid $color-primary;
        transform: translateY(-3px);
      }

      &:active {
        transform: translateY(-1px);
      }
    }
    &__heading {
      height: 25rem;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background-color: $color-gray-2;
      @include responsive(tablet-port) {
        height: 35rem;
        justify-content: flex-end;
      }

    }


    &__text {
      padding: 2rem;
    }
  }

  &:target {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
  }

}


.show {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
}

// Prenatal
#prenatal {
  background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/prenatal/prenatal_600.jpg);

  @include responsive(tablet-port) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/prenatal/prenatal_900.jpg);
  }

  @include responsive(tablet-land) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/prenatal/prenatal_1200.jpg);
  }

  @include responsive(desktop) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/prenatal/prenatal_1500.jpg);
  }

  @include responsive(big-desktop) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/prenatal/prenatal_1800.jpg);
  }
}


// breastfeeding
#breastfeeding {
  background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/breastfeeding/breastfeeding_600.jpg);

  @include responsive(tablet-port) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/breastfeeding/breastfeeding_900.jpg);
  }

  @include responsive(tablet-land) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/breastfeeding/breastfeeding_1200.jpg);
  }

  @include responsive(desktop) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/breastfeeding/breastfeeding_1500.jpg);
  }

  @include responsive(big-desktop) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/breastfeeding/breastfeeding_1800.jpg);
  }
}


// Check Examen
#check-examen {
  background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/check-examen/check-examen_600.jpg);

  @include responsive(tablet-port) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/check-examen/check-examen_900.jpg);
  }

  @include responsive(tablet-land) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/check-examen/check-examen_1200.jpg);
  }

  @include responsive(desktop) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/check-examen/check-examen_1500.jpg);
  }

  @include responsive(big-desktop) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/check-examen/check-examen_1800.jpg);
  }
}


// Sports
#sports {
  background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/sports/sports_600.jpg);

  @include responsive(tablet-port) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/sports/sports_900.jpg);
  }

  @include responsive(tablet-land) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/sports/sports_1200.jpg);
  }

  @include responsive(desktop) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/sports/sports_1500.jpg);
  }

  @include responsive(big-desktop) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/sports/sports_1800.jpg);
  }
}


// ADHD
#adhd {
  background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/adhd/adhd_600.jpg);

  @include responsive(tablet-port) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/adhd/adhd_900.jpg);
  }

  @include responsive(tablet-land) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/adhd/adhd_1200.jpg);
  }

  @include responsive(desktop) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/adhd/adhd_1500.jpg);
  }

  @include responsive(big-desktop) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/adhd/adhd_1800.jpg);
  }
}


// Same Day Emergency
#sameday {
  background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/sameday/sameday_600.jpg);

  @include responsive(tablet-port) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/sameday/sameday_900.jpg);
  }

  @include responsive(tablet-land) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/sameday/sameday_1200.jpg);
  }

  @include responsive(desktop) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/sameday/sameday_1500.jpg);
  }

  @include responsive(big-desktop) {
    background-image: linear-gradient($color-gray-1, $color-gray-1), url(../images/services/sameday/sameday_1800.jpg);
  }
}
