.quotation {

  &__text {
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    @include responsive(tablet-port) {
      height: auto;
    }
    &__icon {
      width: 2rem;
      height: 2rem;
      fill: $color-primary;
      margin-right: .5rem;
    }
  }

  &__author {
    position: absolute;
    top: -2.8rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    &__img {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 100%;
      box-shadow: 6px 6px 6px rgba(0, 0, 0, .6);
    }

    &__desc {
      margin-left: 1rem;
      white-space: nowrap;

      &__name {
        font-size: 1.6rem;
        font-weight: bold;
      }

      &__title {
        font-size: 1.2rem;
      }
    }

  }

}
