.social {
  list-style: none;

  &__elt {
    display: inline-block;
    margin-right: 1rem;

  }
  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      display: block;
      & .social__img {
        fill:$color-white-dark;
      }
    }
    &:hover,
    &:active {
      & .social__img {
        fill:$color-white;
      }
    }

  }

  &__img {
    width: 3rem;
    height: 3rem;
    // fill: $color-white;
  }


}
